fastapi==0.111.0
uvicorn[standard]==0.22.0
pydantic==2.7.1
python-multipart>=0.0.18
python-socketio
grpcio

passlib==1.7.4
passlib[bcrypt]
PyJWT[crypto]

requests>=2.32.4
aiohttp>=3.12.14
httpx

numpy==2.2.3             
torch>=2.8.0      
transformers==5.0.0
tokenizers==0.20.0

datadog==0.50.2
ddtrace==2.20.0
